.container {
    width: 80%;
    margin: auto;
    box-shadow: 0px 0px 3px rgb(184, 180, 180);
    font-family: 'Raleway';
    margin-bottom: 25px;
  }

  .adminTitle {
    text-align: center;
    color: rgb(90, 84, 84);
  }

  .painelGrid{
    margin: auto;
  }

  .painelFunctions {
    margin: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 10px;
    padding: 30px;
    text-align: center;

  }

  .cardFunctions {
    width: 150px;
    height: 80px;
    margin:auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Aqui você define a sombra */
  }

  .cardFunctions:hover{
    transform: scale(1.02); /* Aumenta o tamanho do card em 5% */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3); /* Muda a sombra ao passar o mouse */
}

.cardFunctionLink{
    text-decoration: none;
    color: black;
    align-items: center;
}

.cardFunctionLink p{
  margin-top: 30px;
  font-size: 18px;
}