@font-face {
    font-family: 'Raleway';
    src: url('../../assets/fonts/Raleway/static/Raleway-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }


  .banner-container{
    align-items: center;
    margin: auto;
    padding: 5px;
    position: relative;
    overflow: hidden;
}

.banner-container img {
    width: 100%;
}

.hiring-text {
    width: 50%;
    height: 90%;
    position: absolute;
    top: 15px;
    right: 25px;
    text-align: center;
    margin: 0;
    overflow: hidden;
    font-family: 'Raleway';
}

.hiring-text h1 {
    font-size: 1.1rem;
    color: #ffdd8d;   
}

.hiring-text p {
    font-weight: 600;
    line-height: 0.9rem;
    font-size: 0.8rem;
    color: white;
}

.hiring-text h2 {
    font-weight: 800;
    font-size: 1.4rem;
    margin-top: 10px;
    color: #ffdd8d;
}
