@font-face {
    font-family: 'Raleway';
    src: url('../../assets/fonts/Raleway/static/Raleway-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  .banner-container{
    align-items: center;
    padding: 5px;
    position: relative;
    overflow: hidden;
}

.banner-container img {
    width: 100%;
    box-sizing: border-box;
}

.hiring-text {
    width: 50%;
    position: absolute;
    top: 15px;
    right: 25px;
    text-align: center;
    margin: 0;
    overflow: hidden;
    font-family: 'Raleway';

}

.hiring-text h1 {
    font-size: 1.1rem;
    color: #ffdd8d;   
}

.hiring-text p {
    width: 100%;
    font-weight: 600;
    line-height: 0.9rem;
    font-size: 0.8rem;
    color: white;
}

.hiring-text h2 {
    font-weight: 800;
    font-size: 1.4rem;
    margin-top: 10px;
    color: #ffdd8d;
}

@media screen and (max-width: 768px) {

    .banner-container img {
        width: 100%;
        height: 350px;
        object-fit: cover; /* Redimensiona para cobrir o espaço mantendo a proporção */
        object-position: left;
    }

    .hiring-text {
        width: 45%;
        position: absolute;
        top: 5%;
        right: 25%;
        text-align: center;
        margin: 0;
        background-color: rgba(0, 0, 0, 0.5); /* Define um fundo semi-transparente para melhor legibilidade (opcional) */
        padding: 10px 10px; /* Define o espaçamento interno (opcional) */
    }
}

@media screen and (max-width: 442px) {
    .hiring-text p{
            width: 100%;
            font-weight: 600;
            line-height: 0.9rem;
            font-size: 0.7rem;
            color: white;
        }

        
    .hiring-text {
        padding: 5px 5px; /* Define o espaçamento interno (opcional) */
    }
        
    }


