
.container {
    width: 80%;
    margin: auto;
}


.imageDiv{
    height: 180px;
    width: 100%;
    overflow: hidden;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 2s ease;

}