@font-face {
    font-family: 'Raleway';
    src: url('../../assets/fonts/Raleway/static/Raleway-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  


.card-container {
    max-width: 1400px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 10px;
    padding: 30px;
    text-align: center;
}

.imate-card {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Aqui você define a sombra */
    
}   

.imate-card:hover {
    transform: scale(1.02); /* Aumenta o tamanho do card em 5% */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3); /* Muda a sombra ao passar o mouse */
  }


.card-img img {
    width: 100%;

}

.card-title {
    font-size: 45px;
    color: #333;
    margin: 5px 0 25px 0;
    border-bottom: 1px solid rgb(216, 214, 214);
  }

  .imate-card p  {
    font-family: 'Raleway';

  }

.card-information {
    text-align: left;
    padding-left: 10px;

}

.card-button {
  margin: 5px 0px 35px 0px;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 35px;
}

/* CSS */
.button-38 {
  background-color: #eeeeee;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Raleway",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;

  
}

.button-38:hover {
  background-color: rgb(249,250,251);
}

.button-38:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-38:focus-visible {
  box-shadow: none;
}